.box {
    color: white;
    font-size: 25px;
    background-color: #313244;
    border: 2px solid #f38ba8;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
